<%- include('../partials/header') %>

<h2>Exercise Details</h2>

<h3><%= exercise.name %></h3>
<h3>Sets: <%= exercise.sets %></h3>
<h3>Reps: <%= exercise.reps %></h3>
<h3>Weight: <%= exercise.weight %></h3>



<%- include('../partials/footer') %>
